/* Footer.css */
footer.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px !important;
  background-color: #000000 !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 0 5px !important; /* Reduced padding even more */
  z-index: 200 !important;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.5) !important;
  color: white !important;
}

footer.footer p {
  margin: 0 !important;
  font-size: 12px !important;
  color: #204030 !important;
}

footer.footer nav {
  display: flex !important;
  gap: 5px !important; /* Reduced gap for icons */
}

footer.footer nav a {
  color: #ffffff !important;
  font-size: 12px !important;
  margin-left: 5px !important;
  text-decoration: none !important;
}

footer.footer nav a img {
  width: 10px !important;  /* Even smaller size for social media icons */
  height: 10px !important;
  vertical-align: middle !important;
  margin-left: 5px !important;
}

footer.footer nav a:hover {
  color: #a11826 !important;
}
